.text-indigo
{
    color: crimson;
}
.caption
 {
    font-size: 16px;
    color: white;
 }
 .btn-indigo 
 {
    color: #ffffff;
    background-color: crimson;
  }
 .btn-amber 
 {
    color: #ffffff;
    background-color: crimson;
 }
 .btn-pink 
  {
    color: #ffffff;
    background-color: crimson;
  }
  .btn-teal 
  {
    color: #ffffff;
    background-color: crimson;
   }