body {
    margin: 0 0 0 81px;
    background: white;
}

#user_email
{
	width:100%;
  height: 30px;
  font-size: 15px;

}
#user_password
{
	width:100%;
  height: 30px;
  font-size: 15px;

}
#user_user_name
{
  width:100%;
  font-size: 15px;
}
#user_password_confirmation
{
  width:100%;
  font-size: 15px;
}
.index-img
{    
      height: 350px;
      width: 100%;
      margin: auto;
    padding: 10px;
      position: relative;-webkit-transition: all 1s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
     
} 
.index-img:hover
   {  
    opacity: 1.0;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
  
    }

 .desc

  {  
    position: absolute;
    top: 118px;
  
    font-family: inherit;
    left: 100px;

   }

 .img-title

{
    font-size: 20px;
    text-decoration: none !important;
    margin: 50px;
    text-align: center;
} 

a{
       color: #5A4949;
    font-size: 15px;
    font-weight: 400;
    margin-left: 25px;
}

a:hover
{
    color: black;
}
.bg-blur {
    position: absolute;
    z-index: 5;
    background: inherit;
    overflow: hidden;
    width: 100%;
    height: 100%;
   
}
.bg-login .login-screen {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 400px;
    height: 490px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.4);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10;
    -webkit-transition: height .3s, margin .3s;
    transition: height .3s, margin .3s;
  }


.bg-login .panel-login .panel-body [type=submit] {
    margin-bottom: 10px;
    margin-right: -13px;
    margin-top: 15px;
}

.bg-login .panel-login .panel-body label {
    margin: 20px 0 0 0;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.87);
}
.bg-login .panel-login .panel-body .extra-links {
    margin: 20px 0 0 0;
    margin-left: 25px;
}

.nav-menu .hamburger .patty {
    background: rgb(0, 15, 27);
}

  .imageee1
  {  
    width: 100%;
    height: 361px;
    margin-left: -25px;
    margin-top: -40px
  }
  .card-clickable {
    padding-bottom: 35px;
  }
  .mylogin
  {
    position: absolute;
    top: 58%;
    left: 50%;
    width: 400px;
    height: 450px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.4);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10;
  }
  .my-calendar
  {
    position: absolute;
    top: 0px;
    right: 30px;
    border-radius: 3px;
    font-size: 12px;
    margin-top: 10px;
  }
  .fp
  {
    color: white;
    margin-left: -11px;
  }
  
  .user-image
  {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  .art-image
  {
    width:100%;
    height: 60%;
    margin-left: -25px;
  }
  .new-art
  {    width: 100%;
    height: 350px;
  }
  .post
  {
    font-size: 11px;
    font-family: serif;
    font-style: oblique;
    color: brown;
  }
  .user-comment
  {
    margin: 11px;
  }
  .user-comment-body
  {
    margin-left: 60px;
        font-size: 14px;
  }
  .inline-list 
  {
    margin-left: 60px;
  }
  .del
  {
    margin: 2px;
    font-size: 12px;
  }
  .edit
  {
    margin: 5px;
    font-size: 12px;
  }
  .profile-photo
  {
    border-radius: 50%;
    width: 11%; 
  }
  .head-new-image
  {
    width: 96%;
    margin-left: -20px;
    position: absolute;
  }
  .profile-image
  {
        width: 100%;
    height: 300px;
  }
  .card-body
  {
    text-align: center;
  }
.card-footer
  {
    text-align: center;
  }
  .card-title
  {
        font-size: 20px;
    font-family: initial;
  }
  .a
  {
    margin: 25px;
  }
  .profile-footer
  {
    padding: 0px;
     margin-top: 0px;
     margin-left: 0px;
     margin-right: 0px;
     border-top: 1px solid #f0f0f0;
  }
  .new-image
  {
    width: 100%;
  }
  .page-header.full-content {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
}
.page-header.img
{
  width: 100px;
  height: 100px;
}
.page-header .profile-info .profile-photo img, .header .profile-info .profile-photo img {
    width: 100%;
    height: 100px;
    border-radius: 50%;
}
.new-img
{
  width: 100%;
    height: 200px;
}
.user-profile
{
  margin-top: 20px;
}
.header-tabs {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 61px;
    z-index: 1;
    background-color: transparent;
   
}
.image
{
  width: 100%;
 margin-left: 0px;
 height:300px;
 margin-top: -30px;
}
.abcd
{
      width: 100%;
    height: 413px;
}
.nav-user .user img {
    width: 50px;
    border-radius: 50%;
   margin-left: -25px;
    height: 50px;
  }

    .head-image
    {
      margin-left: -40px;
    margin-right: -40px;

    }
.page-header {
    display: block;
    position: relative;
    width: auto;
    height: 50px;
    min-height: 80px;
    border-bottom: 0;
    margin-top: 0;
    margin-bottom: 40px;
    background-color: rgba(103,39,37,1);
}
  .art-titles
  {
    font-size: 18px;
    font-weight: 500;
  }
.col-md-12  {
    padding-right: 0px;
    padding-left: 0px;
  }
  .user-profile-img
  {
    margin-left: -40px;
    margin-right: -40px;

  }
  .row
  {
    margin-left: 0px;
    margin-right: 0px;
  }

.inputer .input-wrapper:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background: black;
    left: 0;
    bottom: 0;
    }
    .index-imge
    {
  
    height: 450px;
    overflow: hidden;
    margin-left: -40px;
    margin-right: -40px;
    }
    .page-header .breadcrumb a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;}

    .nav-menu .hamburger .patty
     {
   
     background-color: rgba(103,39,37,1);
  }
  .input-group .input-group-btn .btn {
    height: 90%;
    box-shadow: none;
    padding-top: 0;
    padding-bottom: 0;
    width: 115px;

}
.drop-caps-borderless {
    background-color: transparent;
    border-color: #c9302c;
    color: rgba(0, 0, 0, 0.87);
    border: none;
    padding: 0 5px;
    font-size: 20px;
    }

    textarea.form-control {
    height: 50px;
}
.secc {
    border-bottom: 0.5px dotted wheat;
    margin: 12px;
}
.comment-create-form
{
  margin-top: 0px;
}
.legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 29px;
    font-size: 25px;
    line-height: inherit;
    border: 0;
    border-bottom: 1px solid #f0f0f0;
    font-weight: 300;
}
  .layer-container .menu-layer.active {
    background: brown;
}
.overlay .starting-point span {
    background-color: brown;
}
.layer-container .menu-layer li.open > a, .layer-container .menu-layer li:hover > a {
    color: brown;
}

  .comment-create-field
{
  margin-top: 15px;
    margin-bottom: 20px;
}
.comment-user-image
{
  margin-left: 13px;
}
.btn-brown {
    color: #ffffff;
    background-color: #785447;
    border-color: #7e584b;
    width: 35%;
    margin-left: -12px;
}