.signp{font-size: 20px;
    font-weight: 500;
    color: #696E74;
    margin-bottom: 10px;
    margin-top: 23px;
}
.sign_up_box li {
    background: url('/assets/icons/123.png')no-repeat left center;
    padding: 8px 0px 8px 30px;
    background-size: 18px;
    
    font-size: 15px;
    letter-spacing: 0.3px;
}
body{font-family: 'Open Sans', sans-serif;
font-size:14px;}

.logog{position: relative;
    display: inline-block;
    top: 4px;
    cursor: pointer;}
 .logog a:hover{text-decoration: none;}
.btn-block {
    padding: 12px 10px!important;
}

 .btn-wonderush-white {
    background: #3E50B4 !important;
    border: 1px solid #3E50B4 !important;
   
   color: white;
    top: 20px;
    padding: 8px 33px;
}